@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root {
	--white: #fff;
	--black: #000;
	--green-1: #3f827c;
	--green-2: #41a9a1;
	--pink-1: #F2E3E0;
	--pink-2: #F3BAA9;
	--pink-3: #E08E78;
}

* {
	box-sizing: border-box;
}
