@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root
{
	--white: #fff;
	--black: #000;
	--green-1: #3f827c;
	--green-2: #41a9a1;
	--yellow-1: #f5f5dc;
	--yellow-2: #fcfcb3;
	--yellow-3: #fdfd8a;
}

* {
	box-sizing: border-box;
}